footer {
  width: 100%;
  margin: 0 auto;
  padding: 1rem 0;
  background-color: #000000;
  color: white;
  animation: fade 1s;
  font-size: 2rem;

  a {
    text-decoration: none;
    color: white;
  }
  .footer_social {
    svg {
      padding: 0 1.5rem;
    }
  }
  .copyright {
    font-size: 0.75rem;
    padding: 1rem 0;
  }
}
svg {
  height: 1.8rem;
  width: auto;
  cursor: pointer;
  animation: fade 1s;

  path {
    fill: #fff;
  }
}
