@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");

* {
  box-sizing: border-box;
}
html::-webkit-scrollbar {
  width: 0.5rem;
  background: var(--text-color);
}
html::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 5rem;
}

html {
  font-size: clamp(0.75rem, 0.4643rem + 0.5952vw, 1rem);

  @include break("sm down") {
    font-size: 14px;
  }

  @include break("xxs down") {
    font-size: 12px;
  }
}

body {
  min-height: 100vh;
}

#root {
  text-align: center;
  background-color: #171717;

  .main-view-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}
