::selection {
  background-color: red;
  color: black;
}

.navbar {
  padding: 1rem 0;
  background-color: #000000;
  color: white;

  .content-wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .navbar-top-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    position: relative;

    button {
      align-items: center;
      padding: 0.25rem 1.25rem;
      border-radius: 20px;
      height: 2.5rem;
      background-color: #d1d1d111;
      border: none;
      display: flex;
      cursor: pointer;
      span {
        padding: 1rem;
      }
    }

    @include break("md down") {
      flex-direction: column;
      row-gap: 2rem;
      margin-bottom: 2rem;
    }

    .title {
      font-family: "Monoton";
      text-transform: uppercase;
      font-size: 2.675rem;
      font-weight: 400;
      margin: 0;
      letter-spacing: 0.1rem;

      @include break("xxl down") {
        display: flex;
        flex-direction: column;
      }

      @include break("sm down") {
        align-self: flex-start;
      }

      @include break("xs down") {
        font-size: 2rem;
      }

      span {
        font-size: 1rem;
        margin-left: 0.4rem;
        font-weight: 700;
        letter-spacing: 2px;
        color: white;

        @include break("xs down") {
          font-size: 0.75rem;
        }
      }

      a {
        color: red;
        text-decoration: none;
      }
    }

    svg {
      height: 1.5rem;
      width: auto;
      cursor: pointer;
      display: flex;
      path {
        fill: #fff;
      }
    }

    .menu-icon {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      width: 2.5rem;
      height: 2.5rem;
      z-index: 2;
      display: none;

      @include break("sm down") {
        display: block;
      }
    }
  }
}
nav {
  @include break("sm down") {
    position: fixed;
    width: 100%;
    max-width: 360px;
    height: 100%;
    background-color: #000;
    top: 0;
    left: 100%;
    transition: transform 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    padding: 6rem 5% 3rem;
    z-index: 10;

    &.opened {
      transform: translateX(-100%);
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 0.25rem;
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;

    @include break("sm down") {
      flex-direction: column;
      flex-wrap: nowrap;
      width: fit-content;
    }

    li {
      padding: 0.5rem 0;

      .navlink {
        text-decoration: none;
        color: #fff;
        font-size: 1.125rem;
        display: flex;
        column-gap: 0.355rem;
        transition: all ease 0.4s;

        @include break("sm down") {
          font-size: 1.5rem;
        }

        @keyframes fade {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }

        &.active {
          color: red;

          svg path {
            fill: red;
          }
        }

        svg {
          height: 1.5rem;
          width: auto;
          path {
            fill: #fff;
          }
        }
      }
    }
  }
}
