.pagination {
  padding: 1rem;
  display: flex;
  column-gap: 0.5rem;
  justify-content: center;
  align-items: center;

  .pagination-arrow {
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 100%;

    svg {
      height: 2rem;
      width: auto;
      transition: scale 0.3s ease-in-out;

      path {
        fill: #fff;
      }
    }

    &:hover {
      svg {
        scale: 1.1;
      }
    }
  }

  .pagination-element,
  .pagination-dots {
    display: flex;
    height: 2.25rem;
    width: 2.25rem;
    align-items: center;
    justify-content: center;
    color: #fff;
  }

  .pagination-element {
    background-color: rgba($color: #fff, $alpha: 0.3);
    cursor: pointer;
    border-radius: 50%;

    &.active {
      background-color: rgba($color: #fff, $alpha: 0.87);
      color: #000;
      cursor: auto;
    }
  }
}
